<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout ">
<th:block layout:fragment="title">
    <title>전체 게임 | What's Your Game?</title>
</th:block>

<th:block layout:fragment="content">
    <div class="container">
        <div id="fh5co-product">
            <div class="fh5co-contact-info">
                <div class="col-md-9 animate-box fadeInUp animated-fast">
                    <h3>전체 게임</h3>
                </div>
                <div class="search col-md-3">
                    <form th:action="@{'/games'}" method="POST" class="input-group">
                        <input name="search" type="text" th:placeholder="${search}? ${search}: 'Search'">
                        <span>
                            <button class="search-btn" type="submit"><i class="icon-search"></i></button>
                        </span>
                    </form>
                </div>
            </div>
            <div class="row col-md-12">
                <div class="col-md-4 text-center animate-box fadeInUp animated-fast" th:each="game: ${gameList}">
                    <div class="product">
                        <a th:href="'/games/'+${game.id}" class="icon">
                            <div class="product-grid" th:style="'background-image:url('+${game.img}+');'">
                            </div>
                        </a>
                        <div class="desc">
                            <h3 th:text="${game.name}"><a th:href="'/games/'+${game.id}">게임 제목</a></h3>
                            <span th:text="${game.genre}+' | '+${game.platform}+' | '+${game.publisher.name}">장르 | 플랫폼 | 게임사</span><br>
                            <div class="star-ratings star-game star-game-list">
                                <div class="star-ratings-fill space-x-2 text-lg"
                                     th:style="'width: '+${game.gameReviewInfo.avgReviewScore *20}+'%'">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base space-x-2 text-lg">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                            <span class="avg-score"
                                  th:text="${game.gameReviewInfo.avgReviewScore}+' ('+${game.gameReviewInfo.reviewCnt}+')'">별점 (리뷰)</span>
                        </div>
                    </div>
                </div>
            </div>
            <nav style="text-align: center;">
                <ul class="pagination"
                    th:with="start=${T(Math).floor(gameList.number/10)*10 + 1},
                    last=(${start + 9 < gameList.totalPages ? start + 9 : gameList.totalPages})">
                    <li>
                        <a th:href="@{/games(page=1)}" aria-label="First">
                            <span aria-hidden="true">&lt;&lt;</span>
                        </a>
                    </li>

                    <li th:class="${gameList.first} ? 'disabled'">
                        <a th:href="${gameList.first} ? '#' :@{/games(page=${gameList.number})}" aria-label="Previous">
                            <span aria-hidden="true">&lt;</span>
                        </a>
                    </li>

                    <li th:each="page: ${#numbers.sequence(start, last)}"
                        th:class="${page == gameList.number + 1} ? 'active'">
                        <a th:text="${page}" th:href="@{/games(page=${page})}"></a>
                    </li>

                    <li th:class="${gameList.last} ? 'disabled'">
                        <a th:href="${gameList.last} ? '#' : @{/games(page=${gameList.number + 2})}" aria-label="Next">
                            <span aria-hidden="true">&gt;</span>
                        </a>
                    </li>

                    <li>
                        <a th:href="@{/games(page=${gameList.totalPages})}" aria-label="Last">
                            <span aria-hidden="true">&gt;&gt;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</th:block>

</html>