<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/basic" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="title">
    <title>What's Your Game?</title>
</th:block>


<th:block layout:fragment="content">
    <div id="fh5co-product">
        <div class="container">
            <div class="row animate-box">
                <div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
                    <h2>인기 게임</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="product">
                        <div class="product-grid" style="background-image:url(images/product-1.jpg);">
                            <div class="inner">
                                <p>
                                    <a href="single.html" class="icon"><i class="icon-heart"></i></a>
                                    <a href="single.html" class="icon"><i class="icon-eye"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="single.html">게임 제목</a></h3>
                            <span class="price">별점(리뷰)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="product">
                        <div class="product-grid" style="background-image:url(images/product-2.jpg);">
                            <div class="inner">
                                <p>
                                    <a href="single.html" class="icon"><i class="icon-heart"></i></a>
                                    <a href="single.html" class="icon"><i class="icon-eye"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="single.html">게임 제목</a></h3>
                            <span class="price">별점(리뷰)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="product">
                        <div class="product-grid" style="background-image:url(images/product-3.jpg);">
                            <div class="inner">
                                <p>
                                    <a href="single.html" class="icon"><i class="icon-heart"></i></a>
                                    <a href="single.html" class="icon"><i class="icon-eye"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="single.html">게임 제목</a></h3>
                            <span class="price">별점(리뷰)</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 text-center animate-box">
                    <div class="product">
                        <div class="product-grid" style="background-image:url(images/product-4.jpg);">
                            <div class="inner">
                                <p>
                                    <a href="single.html" class="icon"><i class="icon-heart"></i></a>
                                    <a href="single.html" class="icon"><i class="icon-eye"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="single.html">게임 제목</a></h3>
                            <span class="price">별점(리뷰)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="product">
                        <div class="product-grid" style="background-image:url(images/product-5.jpg);">
                            <div class="inner">
                                <p>
                                    <a href="single.html" class="icon"><i class="icon-heart"></i></a>
                                    <a href="single.html" class="icon"><i class="icon-eye"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="single.html">게임 제목</a></h3>
                            <span class="price">별점(리뷰)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 text-center animate-box">
                    <div class="product">
                        <div class="product-grid" style="background-image:url(images/product-6.jpg);">
                            <div class="inner">
                                <p>
                                    <a href="single.html" class="icon"><i class="icon-heart"></i></a>
                                    <a href="single.html" class="icon"><i class="icon-eye"></i></a>
                                </p>
                            </div>
                        </div>
                        <div class="desc">
                            <h3><a href="single.html">게임 제목</a></h3>
                            <span class="price">별점(리뷰)</span>
                        </div>
                    </div>
                </div>
            </div>
            <p class="more-info"><a href="#" class="btn btn-primary btn-outline">인기 게임</a></p>
        </div>
    </div>
</th:block>

</html>