<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/basic}" xmlns:sec="http://www.w3.org/1999/xhtml"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title th:text="${game.name}+' | What\'s Your Game?'">What's Your Game?</title>
</head>

<th:block layout:fragment="content">
    <div id="fh5co-product">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 animate-box fadeInUp animated-fast">
                    <div class="product">
                        <div class="product-grid product-details" th:style="'background-image:url('+${game.img}+');'">
                        </div>
                    </div>
                </div>
                <div class="game-desc col-md-4 animate-box fadeInUp animated-fast">
                    <div class="row animate-box fadeInUp animated-fast">
                        <div class="col-md-12 game-info-name">
                            <h2 th:text="${game.name}">게임 제목</h2>
                            <div class="star-ratings star-game col-md-6 col-xs-6">
                                <div class="star-ratings-fill space-x-2 text-lg"
                                     th:style="'width: '+${game.gameReviewInfo.avgReviewScore *20}+'%'">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                                <div class="star-ratings-base space-x-2 text-lg">
                                    <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                                </div>
                            </div>
                            <span class="avg-score"
                                  th:text="${game.gameReviewInfo.avgReviewScore}+' ('+${game.gameReviewInfo.reviewCnt}+')'">별점 (리뷰)</span>
                            <button type="button" th:value="${game.id}" name="wish" class="btn btn-primary likebtn">
                                <i th:if="${isWished.toString().equals('false')}" class="icon-heart"></i>
                                <i th:if="${isWished.toString().equals('true')}" class="icon-heart2"></i>
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-xs-12 game-info">
                            <div class="col-md-4 col-xs-4">장르</div>
                            <div class="col-md-8 col-xs-8" th:text="${game.genre}">장르</div>
                        </div>
                        <div class="col-md-12 col-xs-12 game-info">
                            <div class="col-md-4 col-xs-4">플랫폼</div>
                            <div class="col-md-8 col-xs-8" th:text="${game.platform}">플랫폼</div>
                        </div>
                        <div class="col-md-12 col-xs-12 game-info">
                            <div class="col-md-4 col-xs-4">게임사</div>
                            <div class="col-md-8 col-xs-8" th:text="${game.publisher.name}">게임사</div>
                        </div>
                        <div class="col-md-12 col-xs-12 game-info">
                            <div class="col-md-4 col-xs-4">출시일</div>
                            <div class="col-md-8 col-xs-8" th:text="${game.releasedAt}">출시일</div>
                        </div>
                        <div class="col-md-12 col-xs-12 game-info">
                            <div class="col-md-4 col-xs-4">사이트</div>
                            <a th:href="${game.site}" class="col-md-5 col-xs-5">공식사이트</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row fh5co-tab-content tab-content active fadeIn animated-fast">
                <div class="col-md-12 col-xs-12 col-md-offset-1 review-header">
                    <h3 class="col-md-7 col-xs-8">REVIEWS</h3>
                    <button sec:authorize="isAuthenticated()" data-toggle="modal" name="write"
                            class="col-md-2 col-xs-offset-1 btn btn-primary btn-outline">작성
                    </button>
                </div>

                <div class="col-md-12 col-xs-12 col-md-offset-1 review-body">
                    <div class="review-card no-review" th:if="${#lists.isEmpty(reviewList)}">아직 작성된 리뷰가 없습니다.</div>
                    <div class="col-md-10 col-xs-10 review-card" th:each="review: ${reviewList}">
                        <div class="col-md-11 col-xs-11">
                            <span th:text="${review.user.name}">닉네임</span>
                            <span>|</span>
                            <small th:text="${#temporals.format(review.createdAt, 'yyyy-MM-dd HH:mm')}">날짜</small>
                            <button th:value="${review.id}" class="btn review-btn" name="update">수정</button>
                            <button th:value="${review.id}" class="btn review-btn" name="delete">삭제</button>
                        </div>
                        <div class="col-md-1 col-xs-1">
                            <button type="button" th:value="${review.id}" name="likey"
                                    class="btn btn-primary likebtn">
                                <i class="icon-thumbs-up"></i>
                                <span th:text="${review.likeCnt}">추천수</span>
                            </button>
                        </div>
                        <div class="star-ratings star-review">
                            <input type="hidden" th:value="${review.score}">
                            <div class="star-ratings-fill space-x-2 text-lg"
                                 th:style="'width: '+${review.score *20}+'%'">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                            <div class="star-ratings-base space-x-2 text-lg">
                                <span>★</span><span>★</span><span>★</span><span>★</span><span>★</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-xs-12 review-content" th:text="${review.content}">리뷰 내용</div>
                    </div>
                </div>
            </div>
        </div>

        <!--모달-->
        <div class="modal fade" id="review-modal" tabindex="-1" role="dialog" aria-labelledby="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title" id="modal-title"></span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="writeForm" method="post" th:action="@{'/games/'+${game.id}+'/reviews'}">
                            <input type="hidden" id="gameId" th:value="${game.id}">
                            <div class="form-group">
                                <label>별점</label>
                                <div class="star-rating space-x-4 mx-auto">
                                    <input type="radio" id="5-star" name="score" value="5" v-model="ratings"/>
                                    <label for="5-star" class="star pr-4">★</label>
                                    <input type="radio" id="4-star" name="score" value="4" v-model="ratings"/>
                                    <label for="4-star" class="star">★</label>
                                    <input type="radio" id="3-star" name="score" value="3" v-model="ratings"/>
                                    <label for="3-star" class="star">★</label>
                                    <input type="radio" id="2-star" name="score" value="2" v-model="ratings"/>
                                    <label for="2-star" class="star">★</label>
                                    <input type="radio" id="1-star" name="score" value="1" v-model="ratings"/>
                                    <label for="1-star" class="star">★</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="content">내용</label>
                                <textarea id="content" name="content" class="form-control" maxlength="2048"
                                          style="height: 161px; width: 100%;"></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                <button type="button" class="btn btn-primary" onclick="checkReviewForm();">등록하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>

    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>
    <script>
        var action = '';
        var rid = 0;
        var gid = $("#gameId").val();

        $("button[name='write']").click(function () {
            $.ajax({
                type: 'POST',
                url: "/reviews/reviewDuplicateCheck",
                data: {
                    gameId: gid
                },
                success: function (data) {
                    if (data) {
                        action = 'write';
                        $("#modal-title").text("리뷰 작성");
                        $("#review-modal").modal();
                    } else {
                        alert("이미 리뷰를 작성하셨습니다.");
                    }
                }
            });
        });

        $("button[name='update']").click(function () {
            rid = this.value;
            action = 'update';
            var row = $(this).parent().parent();
            var score = '#' + row.children().eq(2).children().eq(0).val() + '-star';
            var content = row.children().eq(3).text();

            // 리뷰작성자 확인
            $.ajax({
                url: "/reviews/" + rid + "/checkReviewer",
                success: function (data) {
                    if (data == true) {
                        $("#modal-title").text("리뷰 수정");
                        $(score).prop("checked", true);
                        $("#content").val(content);
                        $("#review-modal").modal();
                    } else {
                        alert("작성자만 수정할 수 있습니다.");
                    }
                }
            });
        });

        $("button[name='delete']").click(function () {
            rid = this.value;
            // 리뷰작성자 확인
            $.ajax({
                url: "/reviews/" + rid + "/checkReviewer",
                success: function (data) {
                    if (data == true) {
                        if (confirm('정말 리뷰를 삭제하시겠습니까?') == true) {
                            $.ajax({
                                type: 'DELETE',
                                url: "/reviews/" + rid,
                                data: {
                                    reviewId: rid,
                                    gameId: gid
                                },
                                success: function (data) {
                                    alert("삭제되었습니다.");
                                    location.reload();
                                },
                                error: function (error) {
                                    alert("오류가 발생하였습니다.");
                                    console.log(error);
                                }
                            });
                        }
                    } else {
                        alert("작성자만 삭제할 수 있습니다.");
                    }
                }
            });
        });

        function checkReviewForm() {
            var score = $("input[name=score]:checked").val();
            var content = $("#content").val();
            if (score == undefined) {
                alert("별점을 입력해주세요.");
                return false;
            } else if (content == "") {
                alert("내용을 입력해주세요.");
                return false;
            }
            if (action == 'write') {
                $.ajax({
                    type: 'POST',
                    url: "/reviews",
                    data: {
                        gameId: gid,
                        score: score,
                        content: content
                    },
                    success: function (data) {
                        alert("작성하신 리뷰가 등록되었습니다.");
                        $("#review-modal").modal('toggle');
                        location.reload();
                    }
                });
            } else if (action == 'update') {
                $.ajax({
                    type: 'PUT',
                    url: "/reviews/" + rid,
                    data: {
                        gameId: gid,
                        id: rid,
                        score: score,
                        content: content
                    },
                    success: function (data) {
                        alert("작성하신 리뷰가 수정되었습니다.");
                        $("#review-modal").modal('toggle');
                        location.reload();
                    }
                });
            }
            return false;
        }
    </script>
    <script>
        $("button[name='likey']").click(function () {
            rid = this.value;
            var span = $(this).children().eq(1);
            $.ajax({
                type: 'POST',
                url: "/reviews/likeLoginCheck"
            }).then(function (result) {
                if (result == 1) {
                    $.ajax({
                        type: 'POST',
                        url: "/reviews/" + rid + "/likeDuplicateCheck"
                    }).success(function (result) {
                        if (result == 2) {
                            alert("자신이 쓴 리뷰는 추천할 수 없습니다.");
                        } else if (result == 1) {
                            // 추천
                            $.ajax({
                                type: 'POST',
                                url: "/reviews/" + rid + "/like"
                            }).then(function (result) {
                                return $.ajax({
                                    type: 'GET',
                                    url: "/reviews/" + rid + "/likeCnt",
                                    success: function (result) {
                                        span.replaceWith("<span>" + result + "</span>");
                                    }
                                });
                            });
                        } else {
                            // 추천 취소
                            $.ajax({
                                type: 'DELETE',
                                url: "/reviews/" + rid + "/dislike"
                            }).then(function (result) {
                                return $.ajax({
                                    type: 'GET',
                                    url: "/reviews/" + rid + "/likeCnt",
                                    success: function (result) {
                                        span.replaceWith("<span>" + result + "</span>");
                                    }
                                });
                            });
                        }
                    })
                } else {
                    alert("로그인이 필요합니다.");
                }
            });
        });
    </script>
    <!-- 게임 찜하기 -->
    <script>
        $("button[name='wish']").click(function () {
            gid = this.value;
            var i = $(this).children().eq(0);
            $.ajax({
                type: 'POST',
                url: "/games/wishLoginCheck"
            }).success(function (result) {
                if (result == 1) {
                    if (i.hasClass('icon-heart')) {
                        // 찜
                        $.ajax({
                            type: 'POST',
                            url: "/games/" + gid + "/wish",
                            success: function () {
                                i.attr('class', 'icon-heart2');
                            }
                        });
                    } else {
                        // 찜 취소
                        $.ajax({
                            type: 'DELETE',
                            url: "/games/" + gid + "/wish",
                            success: function () {
                                i.attr('class', 'icon-heart');
                            }
                        });
                    }
                } else {
                    alert("로그인이 필요합니다.");
                }
            });
        });
    </script>
</th:block>

</html>