<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="/layout/basic" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block layout:fragment="title">
    <title th:text="${game.name}+' | What\'s Your Game?'">What's Your Game?</title>
</th:block>

<th:block layout:fragment="content">
    <div id="fh5co-product">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-1 animate-box fadeInUp animated-fast">
                    <div class="product">
                        <div class="product-grid product-details" th:style="'background-image:url('+${game.img}+');'">
                        </div>
                    </div>
                </div>
                <div class="game-desc col-md-4 animate-box fadeInUp animated-fast">
                <div class="row animate-box fadeInUp animated-fast">
                <div class="col-md-12 game-info-name">
                    <h2 th:text="${game.name}">게임 제목</h2>
                    <p>
                        <a data-toggle="modal" href="#registerModal" class="btn btn-primary btn-outline">Wish</a>
                    </p>
                </div>
            </div>
                <div class="row">
                    <div class="col-md-12 col-xs-12 game-info">
                        <div class="col-md-4 col-xs-4">장르</div>
                        <div class="col-md-8 col-xs-8" th:text="${game.genre}">장르</div>
                    </div>
                    <div class="col-md-12 col-xs-12 game-info">
                        <div class="col-md-4 col-xs-4">플랫폼</div>
                        <div class="col-md-8 col-xs-8" th:text="${game.platform}">플랫폼</div>
                    </div>
                    <div class="col-md-12 col-xs-12 game-info">
                        <div class="col-md-4 col-xs-4">게임사</div>
                        <div class="col-md-8 col-xs-8" th:text="${game.platform}">게임사</div>
                    </div>
                    <div class="col-md-12 col-xs-12 game-info">
                        <div class="col-md-4 col-xs-4">출시일</div>
                        <div class="col-md-8 col-xs-8" th:text="${game.releasedAt}">출시일</div>
                    </div>
                    <div class="col-md-12 col-xs-12 game-info">
                        <div class="col-md-4 col-xs-4">사이트</div>
                        <div class="col-md-8 col-xs-8" th:text="${game.site}">사이트</div>
                    </div>
                </div>
            </div>
            </div>

            <div class="row fh5co-tab-content tab-content active fadeIn animated-fast">
                <div class="col-md-12 col-xs-12 col-md-offset-1">
                    <h3 class="col-md-6 col-xs-8
                        ">REVIEWS</h3>
                    <a data-toggle="modal" href="#registerModal" class="col-md-2 col-xs-offset-1 btn btn-primary btn-outline">Wish</a>
                </div>
                <div class="col-md-10 col-xs-10 col-md-offset-1">
                    <div class="col-md-10 col-xs-10 feed">
                        <div>
                            <p>재밌고 재밌어요</p>
                            <span>hee</span>
                            <small class="rate">
                                <i class="icon-star2"></i><i class="icon-star2"></i><i class="icon-star2"></i><i class="icon-star2"></i>
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <span class="modal-title" id="modal">리뷰 등록하기</span>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form th:action="'@{/games/'+${game.id}+'/review}'" method="post">
                            <div class="form-group">
                                <label>별점</label>
                                <div class="star-rating space-x-4 mx-auto">
                                    <input type="radio" id="5-stars" name="reviewScore" value="5" v-model="ratings"/>
                                    <label for="5-stars" class="star pr-4">★</label>
                                    <input type="radio" id="4-stars" name="reviewScore" value="4" v-model="ratings"/>
                                    <label for="4-stars" class="star">★</label>
                                    <input type="radio" id="3-stars" name="reviewScore" value="3" v-model="ratings"/>
                                    <label for="3-stars" class="star">★</label>
                                    <input type="radio" id="2-stars" name="reviewScore" value="2" v-model="ratings"/>
                                    <label for="2-stars" class="star">★</label>
                                    <input type="radio" id="1-star" name="reviewScore" value="1" v-model="ratings" />
                                    <label for="1-star" class="star">★</label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>제목</label>
                                <input type="text" name="reviewTitle" class="form-control" maxlength="30">
                            </div>
                            <div class="form-group">
                                <label>내용</label>
                                <textarea name="reviewContent" class="form-control" maxlength="2048" style="height: 161px; width: 100%;"></textarea>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
                                <button type="submit" class="btn btn-primary">등록하기</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</th:block>

</html>